* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: "Roboto", sans-serif;
    line-height: 1.4;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    margin: 0.75rem 0;
  }
  
  /* navbar */
  #navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
  }
  
  #navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  #navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
  }
  
  #navbar ul li a:hover {
    background: rgb(44, 138, 167);
    border-radius: 5px;
  }
  
  /* utility */
  .primaryText {
    color: rgb(44, 138, 167);
  }